<?php

?>
<h3>
    <?=__('what is your current status')?>
</h3>

<form method="post" action="<?=$this->getUrl('status/index/save')?>">

<div class="control">
    <input type="text" class="input-text required-entry" data-validate="{required:true}" placeholder="<?=__('ex : i am fine ...')?>" name="status">
</div>
<br>
    <button class="action save primary" type="submit"><span><?=__('send data')?></span></button>
</form>
